<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tao.mapper.MeetingroomMapper">
    <select id="findAll" resultType="tao.model.Meetingroom">
        select * from meetingroom
    </select>

    <select id="findOneById" resultType="tao.model.Meetingroom">
        select * from meetingroom where roomid=#{id}
    </select>

    <update id="updateRoom" parameterType="tao.model.Meetingroom">
        update meetingroom set roomnum=#{roomnum},roomname=#{roomname},capacity=#{capacity},status=#{status},description=#{description} where roomid=#{roomid}
    </update>

    <insert id="addRoom" parameterType="tao.model.Meetingroom">
        insert into meetingroom(roomnum,roomname,capacity,status,description) values(#{roomnum},#{roomname},#{capacity},#{status},#{description})
    </insert>

    <!-- 将主键回填到meetingid -->
    <insert id="addMeeting" parameterType="tao.model.Meeting" useGeneratedKeys="true" keyProperty="meetingid">
        insert into meeting(description,endtime,meetingname,numberofparticipants,reservationistid,reservationtime,roomid,starttime) values
            (#{description},#{endtime},#{meetingname},#{numberofparticipants},#{reservationistid},#{reservationtime},#{roomid},#{starttime})
    </insert>

    <insert id="addEmps">
        insert into meetingparticipants(meetingid,employeeid) values
        <foreach collection="emps" item="emp" separator=",">
            (#{meetingId},#{emp})
        </foreach>
    </insert>
</mapper>